@keyframes color {
  0% {
    background: #33CCCC; }
  20% {
    background: #33CC36; }
  40% {
    background: #B8CC33; }
  60% {
    background: #FCCA00; }
  80% {
    background: #33CC36; }
  100% {
    background: #33CCCC; } }
.animation-backgrounds-1 section.section.bg-animation {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em; }
.animation-backgrounds-1 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  border-radius: 33px !important; }
  .animation-backgrounds-1 .btn:hover {
    background-color: #ffffff !important;
    color: #32c028 !important;
    border-color: #ffffff !important; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.animation-backgrounds-2 section.section.bg-animation {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  animation: AnimateBG 20s ease infinite; }
.animation-backgrounds-2 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-2 .btn:hover {
    background-color: #ffffff !important;
    color: #006aff !important; }

.animation-backgrounds-3 {
  /* Animate Background*/
  /* ============= Animation background ========= */ }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1; }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0; } }
  .animation-backgrounds-3 .container-fluid.animation {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF; }
  .animation-backgrounds-3 .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px; }
  .animation-backgrounds-3 .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite; }
  .animation-backgrounds-3 .cube:nth-child(2n) {
    border-color: #FFF; }
  .animation-backgrounds-3 .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh; }
  .animation-backgrounds-3 .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh; }
  .animation-backgrounds-3 .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh; }
  .animation-backgrounds-3 .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh; }
  .animation-backgrounds-3 .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh; }
  .animation-backgrounds-3 .btn {
    background-color: #b500da !important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    border-color: #b500da !important; }
    .animation-backgrounds-3 .btn:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      color: #ffffff !important;
      border-color: #ffffff !important; }

.animation-backgrounds-4 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-4 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-4 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-4 .background span:nth-child(1) {
      color: #E45A84;
      top: 56%;
      left: 62%;
      animation-duration: 12.9s;
      animation-delay: -15.8s;
      transform-origin: 11vw -23vh;
      box-shadow: -40vmin 0 5.9432724563vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(2) {
      color: #583C87;
      top: 57%;
      left: 54%;
      animation-duration: 14.1s;
      animation-delay: -4.4s;
      transform-origin: 17vw -10vh;
      box-shadow: -40vmin 0 12.1568134965vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(3) {
      color: #E45A84;
      top: 67%;
      left: 20%;
      animation-duration: 15.2s;
      animation-delay: -12.8s;
      transform-origin: 16vw 21vh;
      box-shadow: 40vmin 0 5.2416648187vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(4) {
      color: #E45A84;
      top: 28%;
      left: 18%;
      animation-duration: 13.5s;
      animation-delay: -4.1s;
      transform-origin: 5vw -7vh;
      box-shadow: -40vmin 0 10.922051467vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(5) {
      color: #583C87;
      top: 100%;
      left: 86%;
      animation-duration: 11.1s;
      animation-delay: -10.6s;
      transform-origin: 2vw 7vh;
      box-shadow: -40vmin 0 6.5075997564vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(6) {
      color: #583C87;
      top: 78%;
      left: 56%;
      animation-duration: 11.1s;
      animation-delay: -7.5s;
      transform-origin: 4vw -8vh;
      box-shadow: 40vmin 0 5.9518485444vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(7) {
      color: #E45A84;
      top: 97%;
      left: 79%;
      animation-duration: 13.2s;
      animation-delay: -10.7s;
      transform-origin: -2vw -12vh;
      box-shadow: -40vmin 0 7.7169503233vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(8) {
      color: #FFACAC;
      top: 2%;
      left: 59%;
      animation-duration: 10.9s;
      animation-delay: -5.8s;
      transform-origin: -23vw -12vh;
      box-shadow: 40vmin 0 5.2761104232vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(9) {
      color: #E45A84;
      top: 36%;
      left: 29%;
      animation-duration: 13.5s;
      animation-delay: -6s;
      transform-origin: 21vw -24vh;
      box-shadow: 40vmin 0 11.7217715844vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(10) {
      color: #E45A84;
      top: 61%;
      left: 79%;
      animation-duration: 14.3s;
      animation-delay: -1.9s;
      transform-origin: 21vw -2vh;
      box-shadow: 40vmin 0 7.991368468vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(11) {
      color: #583C87;
      top: 55%;
      left: 40%;
      animation-duration: 13.6s;
      animation-delay: -1.3s;
      transform-origin: -23vw 17vh;
      box-shadow: 40vmin 0 14.7084406503vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(12) {
      color: #FFACAC;
      top: 84%;
      left: 88%;
      animation-duration: 11.3s;
      animation-delay: -8s;
      transform-origin: -17vw -3vh;
      box-shadow: -40vmin 0 11.6927126354vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(13) {
      color: #E45A84;
      top: 92%;
      left: 94%;
      animation-duration: 12.8s;
      animation-delay: -4.8s;
      transform-origin: 14vw -20vh;
      box-shadow: -40vmin 0 12.8705423188vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(14) {
      color: #583C87;
      top: 77%;
      left: 10%;
      animation-duration: 13.4s;
      animation-delay: -2.2s;
      transform-origin: 2vw -12vh;
      box-shadow: 40vmin 0 6.0542296095vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(15) {
      color: #FFACAC;
      top: 28%;
      left: 38%;
      animation-duration: 10.7s;
      animation-delay: -8s;
      transform-origin: 14vw -6vh;
      box-shadow: 40vmin 0 9.1501453861vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(16) {
      color: #FFACAC;
      top: 56%;
      left: 94%;
      animation-duration: 13.9s;
      animation-delay: -4.3s;
      transform-origin: -17vw -5vh;
      box-shadow: -40vmin 0 5.3095477355vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(17) {
      color: #583C87;
      top: 61%;
      left: 63%;
      animation-duration: 15.3s;
      animation-delay: -1.7s;
      transform-origin: 15vw -9vh;
      box-shadow: 40vmin 0 5.4382106769vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(18) {
      color: #E45A84;
      top: 84%;
      left: 79%;
      animation-duration: 16s;
      animation-delay: -9s;
      transform-origin: 14vw 3vh;
      box-shadow: -40vmin 0 6.8486112733vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(19) {
      color: #E45A84;
      top: 96%;
      left: 64%;
      animation-duration: 10.6s;
      animation-delay: -15s;
      transform-origin: 23vw -13vh;
      box-shadow: -40vmin 0 6.8046736487vmin currentColor; }
    .animation-backgrounds-4 .background span:nth-child(20) {
      color: #583C87;
      top: 63%;
      left: 26%;
      animation-duration: 14.7s;
      animation-delay: -15.1s;
      transform-origin: 11vw 22vh;
      box-shadow: 40vmin 0 10.6452638511vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-4 .btn {
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important;
    background-color: transparent !important; }
    .animation-backgrounds-4 .btn:hover {
      background-color: #ffffff !important;
      color: #950063 !important; }

.animation-backgrounds-5 .context {
  width: 100%;
  position: absolute;
  top: 50vh; }
.animation-backgrounds-5 .area {
  width: 100%;
  height: 100vh; }
.animation-backgrounds-5 .circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.animation-backgrounds-5 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px; }
.animation-backgrounds-5 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s; }
.animation-backgrounds-5 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s; }
.animation-backgrounds-5 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s; }
.animation-backgrounds-5 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s; }
.animation-backgrounds-5 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }
.animation-backgrounds-5 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }
.animation-backgrounds-5 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s; }
.animation-backgrounds-5 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s; }
.animation-backgrounds-5 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
.animation-backgrounds-5 .btn {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 4px !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important; }

.animation-backgrounds-6 .bg-animation {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: 3; }
.animation-backgrounds-6 .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1; }
.animation-backgrounds-6 .star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .animation-backgrounds-6 .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .animation-backgrounds-6 .star:nth-child(1) {
    --star-tail-length: 7.19em;
    --top-offset: 3.91vh;
    --fall-duration: 11.494s;
    --fall-delay: 2.787s; }
  .animation-backgrounds-6 .star:nth-child(2) {
    --star-tail-length: 5.31em;
    --top-offset: 89.88vh;
    --fall-duration: 7.974s;
    --fall-delay: 5.146s; }
  .animation-backgrounds-6 .star:nth-child(3) {
    --star-tail-length: 5.75em;
    --top-offset: 37.23vh;
    --fall-duration: 7.563s;
    --fall-delay: 4.145s; }
  .animation-backgrounds-6 .star:nth-child(4) {
    --star-tail-length: 5.49em;
    --top-offset: 3.72vh;
    --fall-duration: 7.851s;
    --fall-delay: 0.525s; }
  .animation-backgrounds-6 .star:nth-child(5) {
    --star-tail-length: 5.42em;
    --top-offset: 63.91vh;
    --fall-duration: 6.965s;
    --fall-delay: 8.923s; }
  .animation-backgrounds-6 .star:nth-child(6) {
    --star-tail-length: 5.16em;
    --top-offset: 68.86vh;
    --fall-duration: 10.545s;
    --fall-delay: 9.905s; }
  .animation-backgrounds-6 .star:nth-child(7) {
    --star-tail-length: 5.56em;
    --top-offset: 15.82vh;
    --fall-duration: 11.492s;
    --fall-delay: 3.085s; }
  .animation-backgrounds-6 .star:nth-child(8) {
    --star-tail-length: 6.99em;
    --top-offset: 85.91vh;
    --fall-duration: 7.176s;
    --fall-delay: 6.037s; }
  .animation-backgrounds-6 .star:nth-child(9) {
    --star-tail-length: 6.24em;
    --top-offset: 82.05vh;
    --fall-duration: 8.173s;
    --fall-delay: 4.668s; }
  .animation-backgrounds-6 .star:nth-child(10) {
    --star-tail-length: 7.48em;
    --top-offset: 74.33vh;
    --fall-duration: 10.095s;
    --fall-delay: 7.934s; }
  .animation-backgrounds-6 .star:nth-child(11) {
    --star-tail-length: 6.5em;
    --top-offset: 53.14vh;
    --fall-duration: 10.115s;
    --fall-delay: 9.068s; }
  .animation-backgrounds-6 .star:nth-child(12) {
    --star-tail-length: 5.05em;
    --top-offset: 38.15vh;
    --fall-duration: 11.53s;
    --fall-delay: 4.8s; }
  .animation-backgrounds-6 .star:nth-child(13) {
    --star-tail-length: 5.01em;
    --top-offset: 21.3vh;
    --fall-duration: 11.123s;
    --fall-delay: 8.256s; }
  .animation-backgrounds-6 .star:nth-child(14) {
    --star-tail-length: 6.16em;
    --top-offset: 56.68vh;
    --fall-duration: 6.926s;
    --fall-delay: 8.651s; }
  .animation-backgrounds-6 .star:nth-child(15) {
    --star-tail-length: 5.07em;
    --top-offset: 18.23vh;
    --fall-duration: 6.052s;
    --fall-delay: 2.491s; }
  .animation-backgrounds-6 .star:nth-child(16) {
    --star-tail-length: 5.47em;
    --top-offset: 74.01vh;
    --fall-duration: 9.734s;
    --fall-delay: 7.84s; }
  .animation-backgrounds-6 .star:nth-child(17) {
    --star-tail-length: 5.88em;
    --top-offset: 68.66vh;
    --fall-duration: 8.065s;
    --fall-delay: 2.285s; }
  .animation-backgrounds-6 .star:nth-child(18) {
    --star-tail-length: 6.57em;
    --top-offset: 14.43vh;
    --fall-duration: 10.744s;
    --fall-delay: 1.784s; }
  .animation-backgrounds-6 .star:nth-child(19) {
    --star-tail-length: 7.02em;
    --top-offset: 67.4vh;
    --fall-duration: 8.324s;
    --fall-delay: 6.094s; }
  .animation-backgrounds-6 .star:nth-child(20) {
    --star-tail-length: 5.18em;
    --top-offset: 71.15vh;
    --fall-duration: 11.297s;
    --fall-delay: 7.347s; }
  .animation-backgrounds-6 .star:nth-child(21) {
    --star-tail-length: 6.06em;
    --top-offset: 44.28vh;
    --fall-duration: 6.767s;
    --fall-delay: 9.147s; }
  .animation-backgrounds-6 .star:nth-child(22) {
    --star-tail-length: 7.5em;
    --top-offset: 45.57vh;
    --fall-duration: 8.322s;
    --fall-delay: 5.836s; }
  .animation-backgrounds-6 .star:nth-child(23) {
    --star-tail-length: 5.32em;
    --top-offset: 93.73vh;
    --fall-duration: 8.752s;
    --fall-delay: 5.403s; }
  .animation-backgrounds-6 .star:nth-child(24) {
    --star-tail-length: 5.93em;
    --top-offset: 45.01vh;
    --fall-duration: 11.576s;
    --fall-delay: 7.076s; }
  .animation-backgrounds-6 .star:nth-child(25) {
    --star-tail-length: 6.09em;
    --top-offset: 4.46vh;
    --fall-duration: 7.659s;
    --fall-delay: 3.957s; }
  .animation-backgrounds-6 .star:nth-child(26) {
    --star-tail-length: 6.36em;
    --top-offset: 68.72vh;
    --fall-duration: 11.44s;
    --fall-delay: 1.674s; }
  .animation-backgrounds-6 .star:nth-child(27) {
    --star-tail-length: 5.86em;
    --top-offset: 92.22vh;
    --fall-duration: 6.182s;
    --fall-delay: 5.924s; }
  .animation-backgrounds-6 .star:nth-child(28) {
    --star-tail-length: 5.63em;
    --top-offset: 82.21vh;
    --fall-duration: 8.26s;
    --fall-delay: 4.404s; }
  .animation-backgrounds-6 .star:nth-child(29) {
    --star-tail-length: 6.4em;
    --top-offset: 2.54vh;
    --fall-duration: 6.436s;
    --fall-delay: 8.935s; }
  .animation-backgrounds-6 .star:nth-child(30) {
    --star-tail-length: 6.57em;
    --top-offset: 45.48vh;
    --fall-duration: 9.192s;
    --fall-delay: 5.945s; }
  .animation-backgrounds-6 .star:nth-child(31) {
    --star-tail-length: 6.78em;
    --top-offset: 60.11vh;
    --fall-duration: 9.238s;
    --fall-delay: 6.308s; }
  .animation-backgrounds-6 .star:nth-child(32) {
    --star-tail-length: 7.48em;
    --top-offset: 30.72vh;
    --fall-duration: 9.75s;
    --fall-delay: 8.797s; }
  .animation-backgrounds-6 .star:nth-child(33) {
    --star-tail-length: 5.88em;
    --top-offset: 6.02vh;
    --fall-duration: 6.411s;
    --fall-delay: 1.858s; }
  .animation-backgrounds-6 .star:nth-child(34) {
    --star-tail-length: 5.92em;
    --top-offset: 96.45vh;
    --fall-duration: 8.694s;
    --fall-delay: 5.576s; }
  .animation-backgrounds-6 .star:nth-child(35) {
    --star-tail-length: 7.28em;
    --top-offset: 74.82vh;
    --fall-duration: 7.106s;
    --fall-delay: 4.921s; }
  .animation-backgrounds-6 .star:nth-child(36) {
    --star-tail-length: 6.55em;
    --top-offset: 11.42vh;
    --fall-duration: 6.489s;
    --fall-delay: 0.342s; }
  .animation-backgrounds-6 .star:nth-child(37) {
    --star-tail-length: 6.08em;
    --top-offset: 9.21vh;
    --fall-duration: 7.002s;
    --fall-delay: 3.655s; }
  .animation-backgrounds-6 .star:nth-child(38) {
    --star-tail-length: 5.16em;
    --top-offset: 78.34vh;
    --fall-duration: 11.506s;
    --fall-delay: 4.294s; }
  .animation-backgrounds-6 .star:nth-child(39) {
    --star-tail-length: 6.04em;
    --top-offset: 15.18vh;
    --fall-duration: 6.116s;
    --fall-delay: 5.529s; }
  .animation-backgrounds-6 .star:nth-child(40) {
    --star-tail-length: 7.4em;
    --top-offset: 68.91vh;
    --fall-duration: 9.886s;
    --fall-delay: 9.668s; }
  .animation-backgrounds-6 .star:nth-child(41) {
    --star-tail-length: 5.13em;
    --top-offset: 58.96vh;
    --fall-duration: 8.604s;
    --fall-delay: 9.707s; }
  .animation-backgrounds-6 .star:nth-child(42) {
    --star-tail-length: 7.46em;
    --top-offset: 8.75vh;
    --fall-duration: 6.824s;
    --fall-delay: 5.236s; }
  .animation-backgrounds-6 .star:nth-child(43) {
    --star-tail-length: 7.47em;
    --top-offset: 81.56vh;
    --fall-duration: 9.574s;
    --fall-delay: 2.603s; }
  .animation-backgrounds-6 .star:nth-child(44) {
    --star-tail-length: 7.26em;
    --top-offset: 16.32vh;
    --fall-duration: 10.083s;
    --fall-delay: 1.365s; }
  .animation-backgrounds-6 .star:nth-child(45) {
    --star-tail-length: 5.46em;
    --top-offset: 84.16vh;
    --fall-duration: 6.83s;
    --fall-delay: 4.914s; }
  .animation-backgrounds-6 .star:nth-child(46) {
    --star-tail-length: 6.6em;
    --top-offset: 18.69vh;
    --fall-duration: 10.213s;
    --fall-delay: 6.085s; }
  .animation-backgrounds-6 .star:nth-child(47) {
    --star-tail-length: 5.15em;
    --top-offset: 53.13vh;
    --fall-duration: 8.025s;
    --fall-delay: 9.017s; }
  .animation-backgrounds-6 .star:nth-child(48) {
    --star-tail-length: 5.64em;
    --top-offset: 93.65vh;
    --fall-duration: 11.969s;
    --fall-delay: 1.09s; }
  .animation-backgrounds-6 .star:nth-child(49) {
    --star-tail-length: 6.92em;
    --top-offset: 95.68vh;
    --fall-duration: 11.372s;
    --fall-delay: 3.874s; }
  .animation-backgrounds-6 .star:nth-child(50) {
    --star-tail-length: 7.34em;
    --top-offset: 8.23vh;
    --fall-duration: 11.674s;
    --fall-delay: 0.525s; }
  .animation-backgrounds-6 .star::before, .animation-backgrounds-6 .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .animation-backgrounds-6 .star::before {
    transform: rotate(45deg); }
  .animation-backgrounds-6 .star::after {
    transform: rotate(-45deg); }
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }
.animation-backgrounds-6 .btn {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 0.9em 2em !important;
  border-width: 2px !important;
  border-radius: 33px !important;
  border-color: #ffffff !important; }
  .animation-backgrounds-6 .btn:hover {
    background-color: #27437f !important;
    color: #ffffff !important;
    border-color: #ffffff !important; }

.animation-backgrounds-7 .wrapper {
  animation: scroll 70s linear infinite;
  background: url("../../img/animations/BACKGROUND.jpg"), #111111;
  z-index: 0;
  background-size: cover; }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@media (prefers-reduced-motion) {
  .animation-backgrounds-7 .wrapper {
    animation: scroll 200s linear infinite; } }
@media (min-width: 670px) {
  .animation-backgrounds-7 .title {
    font-size: 5rem; } }
.animation-backgrounds-7 .btn {
  background-color: #bba32e !important;
  border-color: #11025a !important;
  border-width: 3px !important;
  border-radius: 33px !important;
  font-size: 18px !important;
  padding: 0.9em 2em !important; }
  .animation-backgrounds-7 .btn:hover {
    background-color: #11025a !important;
    color: #ffffff !important;
    border-color: #bba32e !important; }

.animation-backgrounds-8 {
  margin: 0;
  overflow: hidden; }
  .animation-backgrounds-8 .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68; }
  .animation-backgrounds-8 .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .animation-backgrounds-8 .background span:nth-child(1) {
      color: #FFACAC;
      top: 72%;
      left: 36%;
      animation-duration: 10.3s;
      animation-delay: -0.5s;
      transform-origin: 23vw -12vh;
      box-shadow: 40vmin 0 13.2254452611vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(2) {
      color: #FFACAC;
      top: 39%;
      left: 42%;
      animation-duration: 12.9s;
      animation-delay: -12.2s;
      transform-origin: -18vw 3vh;
      box-shadow: 40vmin 0 8.0978646813vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(3) {
      color: #FFACAC;
      top: 38%;
      left: 65%;
      animation-duration: 13.6s;
      animation-delay: -6.2s;
      transform-origin: 10vw 25vh;
      box-shadow: 40vmin 0 11.172812365vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(4) {
      color: #E45A84;
      top: 51%;
      left: 40%;
      animation-duration: 12.3s;
      animation-delay: -11.3s;
      transform-origin: 1vw -21vh;
      box-shadow: 40vmin 0 14.4900612814vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(5) {
      color: #FFACAC;
      top: 30%;
      left: 69%;
      animation-duration: 14.6s;
      animation-delay: -2.9s;
      transform-origin: 12vw 19vh;
      box-shadow: -40vmin 0 12.0474342364vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(6) {
      color: #583C87;
      top: 94%;
      left: 17%;
      animation-duration: 12.1s;
      animation-delay: -8.4s;
      transform-origin: 15vw 8vh;
      box-shadow: 40vmin 0 14.4560234332vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(7) {
      color: #FFACAC;
      top: 54%;
      left: 47%;
      animation-duration: 13.4s;
      animation-delay: -5.8s;
      transform-origin: -12vw 14vh;
      box-shadow: -40vmin 0 14.1371933398vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(8) {
      color: #FFACAC;
      top: 88%;
      left: 62%;
      animation-duration: 15.7s;
      animation-delay: -13s;
      transform-origin: -17vw 23vh;
      box-shadow: -40vmin 0 6.8060458041vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(9) {
      color: #583C87;
      top: 38%;
      left: 48%;
      animation-duration: 13.2s;
      animation-delay: -8.6s;
      transform-origin: 0vw 13vh;
      box-shadow: 40vmin 0 5.0090461529vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(10) {
      color: #FFACAC;
      top: 74%;
      left: 33%;
      animation-duration: 10.7s;
      animation-delay: -2.1s;
      transform-origin: -21vw 0vh;
      box-shadow: 40vmin 0 8.6375566115vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(11) {
      color: #583C87;
      top: 89%;
      left: 54%;
      animation-duration: 11.6s;
      animation-delay: -5s;
      transform-origin: -14vw -18vh;
      box-shadow: -40vmin 0 14.68638001vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(12) {
      color: #583C87;
      top: 30%;
      left: 60%;
      animation-duration: 13.7s;
      animation-delay: -10.4s;
      transform-origin: 11vw 14vh;
      box-shadow: -40vmin 0 11.5264737045vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(13) {
      color: #FFACAC;
      top: 93%;
      left: 45%;
      animation-duration: 10.7s;
      animation-delay: -1s;
      transform-origin: 11vw -19vh;
      box-shadow: 40vmin 0 6.7362313864vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(14) {
      color: #583C87;
      top: 80%;
      left: 9%;
      animation-duration: 15.5s;
      animation-delay: -2.2s;
      transform-origin: -15vw -23vh;
      box-shadow: 40vmin 0 7.1089421859vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(15) {
      color: #FFACAC;
      top: 27%;
      left: 41%;
      animation-duration: 10.1s;
      animation-delay: -13.1s;
      transform-origin: -7vw 7vh;
      box-shadow: 40vmin 0 7.1776014994vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(16) {
      color: #583C87;
      top: 61%;
      left: 93%;
      animation-duration: 14.8s;
      animation-delay: -5.6s;
      transform-origin: -23vw -7vh;
      box-shadow: -40vmin 0 7.2000427949vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(17) {
      color: #E45A84;
      top: 71%;
      left: 7%;
      animation-duration: 11.4s;
      animation-delay: -7.1s;
      transform-origin: 24vw 4vh;
      box-shadow: 40vmin 0 12.6733146146vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(18) {
      color: #FFACAC;
      top: 11%;
      left: 76%;
      animation-duration: 15.3s;
      animation-delay: -5.1s;
      transform-origin: -1vw 17vh;
      box-shadow: 40vmin 0 6.8153555684vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(19) {
      color: #583C87;
      top: 77%;
      left: 48%;
      animation-duration: 14.4s;
      animation-delay: -13.7s;
      transform-origin: 4vw -19vh;
      box-shadow: 40vmin 0 7.2101075107vmin currentColor; }
    .animation-backgrounds-8 .background span:nth-child(20) {
      color: #583C87;
      top: 38%;
      left: 12%;
      animation-duration: 14.8s;
      animation-delay: -8.6s;
      transform-origin: -19vw 7vh;
      box-shadow: -40vmin 0 11.5267505612vmin currentColor; }
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  .animation-backgrounds-8 .btn {
    background-color: #ff00ae !important;
    color: #ffffff !important;
    border-radius: 33px !important;
    font-size: 18px !important;
    padding: 0.9em 2em !important; }
    .animation-backgrounds-8 .btn:hover {
      background-color: #7100b3 !important;
      color: #ffffff !important; }

/*# sourceMappingURL=animation-backgrounds.css.map */
